header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color:#7fb3ee;
    display: grid;
    grid-template-columns: 20vw auto;
}

header .logoBox img{
    display: block;
    width: 20vw;
    height: 15vh;
}

header nav{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

header nav .item{
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    align-items: center;

    font-size: 24px;
    color: white;
}

.basicSearch{
    margin: 2vh 15vw;
    margin-top: 18vh;
    padding: 2vh 0px;
    text-align: center;
    border: dashed #627bc9 0.25vw;
}

.basicSearch #search{
    width: 75%;
    padding: 1vh 2vw;
}

.basicSearch button{
    background-color: #9ab0f3;
    color: white;
    width: 10vw;
    height: 5vh;
    border: none;
    border-radius: 5px;
    border: groove #9ab0f3 1.25vh;
}

.basicSearch button:hover{
    cursor: pointer;
    border: ridge #9ab0f3 thin;

}

.advancedSearch{
    display: flex;
    justify-content: center;
    align-self: center;
}

.advancedSearch a{
    color: white;
    text-decoration: none;
}

.advancedSearch button{
    background-color: #9ab0f3;
    color: white;
    width: 40vw;
    height: 10vh;
    border: groove #9ab0f3 1.5vh;
    border-radius: 1vw;
    font-size: 16px;
}

.advancedSearch button:hover{
    cursor: pointer;
    border: ridge #9ab0f3 0.75vh;
}

main{
    margin: 1vh 5vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

main .animeBox{
    border: solid black thin;
}

main .animeBox .titleBox{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

    background-color: #1c2c5c;
    width: 100%;
    height: 10vh;
    overflow-wrap: break-word;
    overflow-x: hidden; /* Hide horizontal scrollbar */

}

main .animeBox:hover .titleBox, main .animeBox:hover{
    color: white;
    background: rgb(51,102,153);
    background: linear-gradient(360deg, rgba(51,102,153,1) 15%, rgba(37,77,117,1) 85%);
}

main .animeBox .animeTitle{
    display: block;
    font-size: 20px;
    text-align: center;
    color: white;
}

main .animeBox .animeCover{
    display: block;
    margin: auto;
    width: 100%;
    height: 35vh;
}

main .animeBox .animeEpisodes{
    text-align: center;
    padding: 2.5px;
    margin: 0px;
    background-color: #627bc9;
    color: white;
    border-top: dashed #1c2c5c thick;
}

main .animeBox .animeDuration{
    text-align: center;
    padding: 2.5px;
    margin: 0px;
    background-color: #627bc9;
    color: white;
    border-bottom: dashed #1c2c5c thick;
}

main .animeBox .animeScore{
    text-align: center;
    font-size: 20px;
}